$default-font: Corbel;
$red: #AA1A23;
$grey: #333;
body {
  font-family: $default-font;
  font-size: 14pt;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
  font-size: 40px;
}

hr {
  max-width: 500px;
  border-color: rgba(170, 26, 35, 0.25);
}

p {
  font-size: 25px;
}

.img-center {
  margin: 0 auto;
}

span.glyphicon-earphone, span.glyphicon-envelope, span.glyphicon-map-marker {
  font-size: 70px;
  color: $red;
}

.logo {
  height: 150px;
}

footer p {
  margin: 0;
  padding: 50px 0;
  font-size: 14px;
}

footer {
  background: white;
  color: black;
}

.logo-mainark {
  display: none;
}

#map {
  width: 100%;
  height: 600px;
}

@media (min-width:768px) {
  .logo-mainark {
    display: inherit;
  }
  .navbar-header {
    display: none;
  }

  .navbar {
    border-radius: 0;

    .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
      letter-spacing: 2px;
      font-size: 22px;
    }

    .navbar-collapse {
      text-align: center;
    }
  }

  .nav > li > a {
    padding: 25px;
    margin: 2px;

  }
  .nav > li {
    border-right: 1px solid white;
  }

  .nav > li:first-child {
    border-left: 1px solid white;
  }

  .navbar-default {
    background: $red;
    text-align: center;
    border: none;

    .navbar-nav > li > a {
      color: white;
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
      color: $red;
      background-color: white;
    }

  }
}

@media (max-width:767px) {
  .navbar .navbar-nav {
//  letter-spacing: 2px;
  }

  .brand-logo {
    height: 50px;
  }

  .navbar-default {
    background: white;
    border: 0;
    border-bottom: 1px solid $red;

    .navbar-toggle {
      border-color: $red;
      border-radius: 0;

      .icon-bar {
        background-color: $red;
      }
    }

    .navbar-nav > li > a {
      color: $red;
    }

    .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: $red;
    }

    .navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
      background-color: white;
    }

    .navbar-collapse, .navbar-form {
      border-color: $red;
    }

    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
      color: black;
    }
    
    .navbar-brand {
      color: $red;
      font-size: 20px;
      font-weight: bold;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}