html, body {
  height: 100%;
  width: 100%; }

body {
  font-family: "Roboto", serif;
  font-size: 18px; }

h1,
h2 {
  letter-spacing: 1px;
  font-size: 40px; }

h3,
h4,
h5,
h6 {
  font-size: 25px;
  font-weight: bold; }

hr {
  max-width: 500px;
  border-color: rgba(170, 26, 35, 0.25); }

p {
  font-size: 18px; }

.img-center {
  margin: 0 auto; }

.contacts-icons i {
  font-size: 50px;
  color: white;
  border-radius: 50px;
  background-color: #AA1A23;
  margin-top: 15px;
  line-height: 100px;
  width: 100px;
  height: 100px;
  transition: all .4s; }

.contacts-icons i:hover {
  background-color: white;
  color: #AA1A23;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.services-icons i {
  font-size: 50px;
  color: #333;
  border-radius: 50px;
  line-height: 100px;
  width: 100px;
  height: 100px;
  transition: all .4s; }

.services-icons i:hover {
  background-color: white;
  color: #333;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer; }

.logo {
  height: 120px; }

footer p {
  margin: 0;
  padding: 50px 0;
  font-size: 18px; }

footer {
  background: #AA1A23;
  color: white; }

.logo-mainark {
  display: none; }

#map {
  width: 100%;
  height: 500px; }

.form-control {
  font-size: 18px;
  height: 40px;
  border-radius: 0;
  border-color: rgba(170, 26, 35, 0.25); }

.btn-default {
  background-color: white;
  color: #AA1A23;
  border-radius: 0;
  border-color: #AA1A23;
  font-size: 18px; }

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
  background-color: rgba(170, 26, 35, 0.25);
  color: #AA1A23;
  border-color: #AA1A23;
  outline: none; }

.btn-primary {
  background-color: #AA1A23;
  color: white;
  border-radius: 0;
  border-color: #AA1A23;
  font-size: 18px; }

.btn-default:hover, .btn-default:focus {
  background-color: white;
  color: #AA1A23;
  border-color: #AA1A23; }

.btn-primary:hover, .btn-primary:focus {
  background-color: white;
  color: #AA1A23;
  border-color: #AA1A23; }

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  background-color: white;
  color: #AA1A23;
  border-color: #AA1A23;
  outline: none; }

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  background-color: white;
  color: #AA1A23;
  border-color: #AA1A23; }

.form-control:focus {
  border-color: #AA1A23;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(170, 26, 35, 0.25); }

.modal-content {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.modal-header {
  border-bottom-color: #AA1A23;
  background-color: #AA1A23;
  color: white; }

.modal-footer {
  border-top-color: #AA1A23; }

.form-control-feedback {
  line-height: 42px; }

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
  background-color: rgba(170, 26, 35, 0.25);
  border-color: #AA1A23; }

.header-background {
  background: url("../img/main.jpg") no-repeat center center;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #FFF;
  width: 100%;
  height: 620px; }

.overlay {
  background-color: rgba(0, 0, 0, 0.38);
  width: 100%;
  height: 100%; }

.navbar {
  margin-bottom: 0; }

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0; }

#mobile-indicator {
  display: none; }

#navigationbar,
.brand-logo,
.navbar-toggle,
.navbar-nav > li > a {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  transition-delay: 0s; }

#services {
  background-color: #F3F3F3; }

.wrapper {
  padding: 0 20px; }

.services-layout {
  z-index: 1;
  position: static;
  width: 100%;
  height: 100%;
  margin: 20px 0; }

.services-layout-padding {
  padding: 35px;
  z-index: 2;
  height: 400px;
  background-color: white; }

@media (min-width: 992px) {
  .logo-mainark {
    display: inherit; }

  .brand-logo {
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

  .navbar {
    border-radius: 0; }
    .navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
      font-size: 20px; }
    .navbar .navbar-collapse {
      text-align: center; }

  .nav > li > a {
    padding: 30px 15px 30px 15px; }

  .navbar-default {
    background: #AA1A23;
    text-align: center;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .navbar-default .navbar-nav > li > a {
      color: white; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #AA1A23;
      background-color: white; }
    .navbar-default .navbackground {
      background-color: rgba(255, 255, 255, 0.8); } }
@media (max-width: 991px) {
  #mobile-indicator {
    display: block; }

  .brand-logo {
    height: 50px; }

  .navbar-default {
    background: white;
    border: 0;
    border-bottom: 1px solid #AA1A23; }
    .navbar-default .navbar-toggle {
      border-color: #AA1A23;
      border-radius: 0; }
      .navbar-default .navbar-toggle .icon-bar {
        background-color: #AA1A23; }
    .navbar-default .navbar-nav > li > a {
      color: #AA1A23; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #AA1A23; }
    .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
      background-color: white; }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
      border-color: #AA1A23; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: black; } }

/*# sourceMappingURL=style.css.map */
